<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inoxoft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="js/main.service.js"></script>
    <script src="js/controllers/main.controller.js"></script>
    <script src="js/app/app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="container" ng-controller="mainCtrl as main">
       
       <div class="article" ng-repeat="key in main.articles">
           <h2>{{key.title}}</h2>
           <p class="description">{{key.description}}</p>
           <p>
               <input type="button" value="Show article" class="btn btn-success" ng-click="main.showArticle($index)">
           </p>
           <p class="content">{{key.content}}
               <p class="btnHide">
                   <input type="button" value="Hide article" class="btn btn-danger" ng-click="main.hideArticle($index)">
               </p>
           </p>
           
        </div>
        
    </div>
</body>
</html>