body {
    background-color: darkgray;
}

.article {
    text-align: justify;
    margin: 0px 20px 80px;
}

.description {
    font-weight: 600;
    font-size: 20px;
}

.content, .btnHide {
    display: none;
}